body {
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
    
}

ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 24px

}

a {
  text-decoration: none;
  
  }

li {
     list-style-type: none;

  }

a,
.secondarytext {
    color: #E5E7EB;
    font-size: 18px;
}

.header,
.content1,
.footer {
    background-color: #1F2937;
}

.header {
display: flex;
justify-content: space-between;
align-items: center;
padding: 0 100px;
}



.logo {
    color:#F9FAF8;
    font-weight: 900;
    font-size: 24px;
}

.title {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.button1 {
    background-color: #3882F6;
}

.information {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

.infotext {
    font-size: 18px;
    color:#1F2937;
}

.content3 {
    background-color: #E5E7EB;
}

.quote {
    font-style: italic;
    font-size: 36px;
    color: #1F2937;
    font-weight: 300;
}

.quotesignature {
    color: #1F2937;
    font-weight: 900;
    font-size: 24px; 
}

.rectangle-box {
width: 400px;
height: 350 px;
display: flex;
}

.rectangle-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}