body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
    
}


ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 24px

}

a {
  text-decoration: none;
  color: #E5E7EB;
    font-size: 18px;
  }

li {
     list-style-type: none;
  }


.header,
.content1,
.footer {
    background-color: #1F2937;
}

.header {
display: flex;
justify-content: space-between;
align-items: center;
padding: 0 100px;
}

.logo {
    color:#F9FAF8;
    font-weight: 900;
    font-size: 24px;
}

.content1 {
    display: flex;
    justify-content: center;
    gap: 32px;
    padding-top: 100px;
    padding-bottom: 100px;
}

.content1 p {
    margin: 0;
}

.presentation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 12px;
}

.title {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.secondarytext {
    color: #E5E7EB;
    font-size: 18px;
}


.rectangle-box {
width: 400px;
height: 350 px;
display: flex;
border: 4px solid #1F2937;
border-radius: 12px;
overflow: hidden;

}

.rectangle-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.button1 {
    background-color: #3882F6;
    color: white;
    font-size: 18px;
    font-weight: 600;
    border: none;
    border-radius: 12px;
    padding: 10px 24px;
}

.information {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

.infotext {
    font-size: 18px;
    color:#1F2937;
}

.content3 {
    background-color: #E5E7EB;
}

.quote {
    font-style: italic;
    font-size: 36px;
    color: #1F2937;
    font-weight: 300;
}

.quotesignature {
    color: #1F2937;
    font-weight: 900;
    font-size: 24px; 
}

